<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 3</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/AdminLTE-master/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE-master/dist/css/adminlte.min.css">

</head>

<body>

    <div class="d-flex justify-content-center align-items-center" style="height:100%;">

        <div class="col-md-6" style="display: flex; justify-content: center;align-items: center;height: 100vh;">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Forgot Password</h3>
                </div>
                <form method="post" action="reset-password">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date of birth in DD-MM-YYYY Format</label>
                            <input type="text" name="dob" class="form-control" id="exampleInputEmail1"
                                placeholder="Enter DOB">
                        </div>


                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                        <a href="/admin/logout" style="position: relative;
                        top: 9px;">
                        <p  class="btn btn-primary">Login</p>
                        </a>
                    </div>
                </form>
                <%= error %>
            </div>



        </div>
    </div>
</body>




</html>