MONGODB_URL=YourConnectionString
# Example Connection String:-  
# mongodb://127.0.0.1:27017/rest-api-nodejs-mongodb
# mongodb://[MongodbHost]:[PORT]/[DatabaseName]

JWT_SECRET=YourSecret
# Example Secret:-  abcdefghijklmnopqrstuvwxyz1234567890

JWT_TIMEOUT_DURATION="60 days"
# You can place duration available here: https://github.com/auth0/node-jsonwebtoken#usage
# Search for "expiresIn" option on above link.

EMAIL_SMTP_HOST=YourSMTPHost
EMAIL_SMTP_PORT=YourSMTPPort
EMAIL_SMTP_USERNAME=YourSMTPUsername
EMAIL_SMTP_PASSWORD=YourSMTPPassword
# true for 465, false for other ports
EMAIL_SMTP_SECURE=false

#From email address
EMAIL_FROM=danielle48@ethereal.email

#App Name
APP_NAME=Mock Test App

#Domain that is used to host this script
APP_DOMAIN=http://localhost:3000

#RAZORPAY KEYS
RAZOR_PAY_KEY=
RAZOR_PAY_KEY_SECRET=

#WEBHOOK SECRET ON RAZORPAY DHASHBOARD
WEBHOOK_SECRET=Bihar@123

#TESTING AC EMAIL ADDRESS FOR TESTING NON ACTIVE SETS
TESTING_AC_EMAIL=admin@admin.com